@model IEnumerable<ECommerce.ViewModels.HangHoaViewModel>

@if (Model != null && Model.Any())
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 col-lg-6 col-xl-4 mb-4">
                <div class="product-card">
                    <div class="text-center">
                        <a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.MaHh">
                            <img src="~/img/HangHoa/@item.Hinh" alt="@item.TenHh">
                        </a>
                    </div>
                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@item.TenLoai</div>
                    <div class="product-details">
                        <a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.MaHh">
                            <h4>@item.TenHh</h4>
                        </a>
                        <p>@item.MoTaNgan</p>
                        <p class="product-price">$@item.DonGia</p>
                    </div>
                    <div class="add-to-cart">
                        <a asp-action="ThemVaoGioHang" asp-controller="GioHang" asp-route-id="@item.MaHh">
                            <i class="fa fa-shopping-bag me-2"></i>Thêm vào giỏ
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No items to display.</p>
}
